*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  height: 100vh;
  background-color: rgb(227, 178, 244);
  font-family: sans-serif;
}
.score{
  color: white;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score h2 {
font-size: 1.8em;
}
.score p {
  text-align: center;
  padding: 10px;
  font-size: 1.4em;
}
.intro{
  color: rgb(249, 73, 193);
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  transition: opacity 0.1s ease;
}
.intro h1{
  font-size: 50px;
}
.intro button, 
.match button{
  width: 150px;
  height: 50px;
  color: white;
  font-size: 20px;
  background: rgb(95, 146, 255);  
  border-radius: 3px;
  
}
div.h2{
    text-align: center;
}
.match{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: opacity 0.1s ease 0.2s;
}
.winner{
  color: white;
  text-align: center;
  font-size: 40px;
}
.hands, .options{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;

}
img{
  max-width: 30%;
  margin-top: 20%;
}
.player-hand{
  transform: rotateY(180deg);
}
div.fadeOut{
  opacity: 0;
  pointer-events: none;
}
div.fadeIn{
  opacity: 1;
  pointer-events: all;
}